<mat-card>

  <form [formGroup]="this.form" (ngSubmit)="onUpload()">

    <div id="header">
      <h2>Upload form</h2>
    </div>

    <mat-dialog-content>


      <mat-form-field class="full-width-input">
        <mat-label>Enter the name of the file</mat-label>
        <input matInput type="text" placeholder="Password" class="input-item full-width-input" formControlName="name">
      </mat-form-field>



      <input type="file" class="input-item" (change)="onSelected($event)" formControlName="file">



    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" id="submitButton" [disabled]="!this.form.valid">UPLOAD</button>
    </mat-dialog-actions>

  </form>

</mat-card>



